.tr_GC {
  width: 100%;
  display: inline-table;
  height:auto;
  table-layout: fixed;
}

.table_GC{
  display: -moz-groupbox;
}
.thead_GC{
  width: calc(100% - 100px);
}

.tbody_GC{
  overflow-y: scroll;
  height: calc(100% - 200px);
  width: calc(100% - 2em);
  position: absolute;
}