.work-time-evidence-table {
	overflow: hidden;
}

.work-time-evidence-table tr:hover {
	background-color: #eee;
}

.work-time-evidence-table td,
.work-time-evidence-table th {
	position: relative;
}
.work-time-evidence-table td:hover::after,
.work-time-evidence-table th:hover::after {
	content: '';
	position: absolute;
	background-color: #eee;
	left: 0;
	top: -5000px;
	height: 10000px;
	width: 100%;
	z-index: -1;
}
